body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: antiquewhite;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.head{
  white-space: pre-wrap;
  word-break:break-word;
}
.todo{
   background-color: #fff;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 8px 15px rgba(0,0,0,0.1);
  width: 500px;
  max-width: 95%;
  box-sizing: border-box;
  text-align: center;
}
.todo input[type="text"],
.todo input[type="date"] {
  width: calc(50% - 10px);
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
 
}

button {
  padding: 10px 20px;
  margin: 10px 5px 0 5px;
  background-color: lightblue;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
   display: inline-block;
}

.btn{
  display: inline-block;
}
.box {
  text-align: center;
  margin-top: 20px;
}
@media (max-width: 600px){
  .todo-container {
    width: 95%;
    padding: 10px;
    font-size: 14px;
  }
   .todo input[type="text"],
  .todo input[type="date"] {
    width: calc(100% - 10px);
  }
}
  

@media (min-width: 601px) and (max-width:1024px){
  .todo-container {
    width: 80%;
    font-size: 16px;
  }
}

