body {
  margin: 0 800px;
}

.todo {
  text-align: center;
  width: auto; /* 任意の幅 */
  margin: 0 auto; /* 中央寄せ */
}

.title{
  background-color: lightblue;
  padding: 20px 20px;
  font-size: 10px;
  border:1px solid black;
  text-align: center;
  margin: 30px;
    border-radius: 5px;
}
.handleAddTodo{
  background-color: lightblue;
  border: 1px solid black;
}

input {
  padding: 5px;
  margin-right: 5px;

}

button {
  padding: 15px 10px;
  margin-top: 10px 10px ;
    background-color: lightblue;
      border: 1px solid black;
}
ul {
  list-style: none;
  padding: 0;

}

.text{
  background-color: lightblue;
}
.todo-container {
  width: 600px;
  margin: 0 auto;
  padding: 20px;
  font-size: 18px;
  background: 10px;
  background-color: lightblue;
  border-radius: 10px;
  box-shadow: 00 10px rgba(0,0,0,0.1);
  border: 1px solid black;
}
.todo-items {
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 10px;
padding: 10px;
border-bottom: 1px solid #add;
}
@media (max-width: 600px){
  .todo-container {
    width: 95%;
    padding: 10px;
    font-size: 14px;
  }
  .todo-item {
    flex-direction:column;
    align-items: flex-start;
  }
}
@media (min-width: 601px) and (max-width:1024px){
  .todo-container {
    width: 80%;
    font-size: 16px;
  }
}

