body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.todo {
  text-align: center;
  width: auto; 
  margin: 0 auto; }

.title{
  background-color: lightblue;
  padding: 20px 20px;
  font-size: 10px;
  border:1px solid black;
  text-align: center;
  margin: 30px;
    border-radius: 5px;
}
input {
  padding: 5px;
  margin-right: 5px;

}

button {
  padding: 15px 10px;
  margin-top: 10px 10px ;
    background-color: lightblue;
      border: 1px solid black;
}
ul {
  list-style: none;
  padding: 0;

}

.todo-container {
  width: 600px;
  margin: 0 auto;
  padding: 20px;
  font-size: 18px;
  background: 10px;
  background-color: lightblue;
  border-radius: 10px;
  box-shadow: 00 10px rgba(0,0,0,0.1);
  border: 1px solid black;
}


@media (max-width: 600px){
  .todo-container {
    width: 95%;
    padding: 10px;
    font-size: 14px;
  }
  
}
@media (min-width: 601px) and (max-width:1024px){
  .todo-container {
    width: 80%;
    font-size: 16px;
  }
}

